In [1]:
# import the library SQLite
import sqlite3

# Load our regular libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [3]:
adult_data_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
#adult_data_df = pd.read_csv('adult.data')
display(adult_data_df.head(5))

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
adult_data_df.columns =["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]
display(adult_data_df.head(5))

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [5]:
import sqlalchemy

from sqlalchemy import create_engine

engine = create_engine('sqlite:///sqladb', echo=True)

In [6]:
adult_data_df.to_sql('sqladb', engine, if_exists='replace')

2018-08-18 23:59:20,687 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-18 23:59:20,716 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 23:59:20,721 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-08-18 23:59:20,727 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 23:59:20,736 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqladb")
2018-08-18 23:59:20,741 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 23:59:20,768 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sqladb (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	education_num BIGINT,
	marital_status TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	capital_gain BIGINT,
	capital_loss BIGINT,
	hours_per_week BIGINT,
	native_country TEXT,
	income TEXT
)


2018-08-18 23:59:20,777 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 23:59:20,935 INFO sqlalchemy.engine.base.Engine COMMIT
2018-08-18 23:59:20,941 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_sqladb_index ON sqladb ("index")
2018-08-18 23:59:20,949 INFO sqlalchemy.engine.base.Engine ()
2018-08-18 23:59:21,130 INFO sqlalchemy.engine.base.Engine COMMIT
2018-08-18 23:59:21,186 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-18 23:59:22,088 INFO sqlalchemy.engine.base.Engine INSERT INTO sqladb ("index", age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-08-18 23:59:22,090 INFO sqlalchemy.engine.base.Engine ((0, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (1, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (2, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (4, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (5, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (6, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'), (7, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')  ... displaying 10 of 32560 total bound parameter sets ...  (32558, 22, ' Private', 201490, ' HS-grad', 9, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'), (32559, 52, ' Self-emp-inc', 287927, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 15024, 0, 40, ' United-States', ' >50K'))
2018-08-18 23:59:22,469 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
connection = sqlite3.connect("sqladb")
cursor = connection.cursor()
cursor.execute('PRAGMA TABLE_INFO({})'.format("sqladb"))
cursor.fetchall()

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'age', 'BIGINT', 0, None, 0),
 (2, 'workclass', 'TEXT', 0, None, 0),
 (3, 'fnlwgt', 'BIGINT', 0, None, 0),
 (4, 'education', 'TEXT', 0, None, 0),
 (5, 'education_num', 'BIGINT', 0, None, 0),
 (6, 'marital_status', 'TEXT', 0, None, 0),
 (7, 'occupation', 'TEXT', 0, None, 0),
 (8, 'relationship', 'TEXT', 0, None, 0),
 (9, 'race', 'TEXT', 0, None, 0),
 (10, 'sex', 'TEXT', 0, None, 0),
 (11, 'capital_gain', 'BIGINT', 0, None, 0),
 (12, 'capital_loss', 'BIGINT', 0, None, 0),
 (13, 'hours_per_week', 'BIGINT', 0, None, 0),
 (14, 'native_country', 'TEXT', 0, None, 0),
 (15, 'income', 'TEXT', 0, None, 0)]

In [8]:
cursor.execute('SELECT COUNT(*) FROM {}'.format("sqladb"))
cursor.fetchall()

[(32560,)]

In [9]:
print(pd.read_sql_query('SELECT * FROM sqladb limit 10', connection))

   index  age          workclass  fnlwgt      education  education_num  \
0      0   50   Self-emp-not-inc   83311      Bachelors             13
1      1   38            Private  215646        HS-grad              9
2      2   53            Private  234721           11th              7
3      3   28            Private  338409      Bachelors             13
4      4   37            Private  284582        Masters             14
5      5   49            Private  160187            9th              5
6      6   52   Self-emp-not-inc  209642        HS-grad              9
7      7   31            Private   45781        Masters             14
8      8   42            Private  159449      Bachelors             13
9      9   37            Private  280464   Some-college             10

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
5   Married-spouse-absent       Other-service   Not-in-family   Black
6      Married-civ-spouse     Exec-managerial         Husband   White
7           Never-married      Prof-specialty   Not-in-family   White
8      Married-civ-spouse     Exec-managerial         Husband   White
9      Married-civ-spouse     Exec-managerial         Husband   Black

       sex  capital_gain  capital_loss  hours_per_week  native_country  income
0     Male             0             0              13   United-States   <=50K
1     Male             0             0              40   United-States   <=50K
2     Male             0             0              40   United-States   <=50K
3   Female             0             0              40            Cuba   <=50K
4   Female             0             0              40   United-States   <=50K
5   Female             0             0              16         Jamaica   <=50K
6     Male             0             0              45   United-States    >50K
7   Female         14084             0              50   United-States    >50K
8     Male          5178             0              40   United-States    >50K
9     Male             0             0              80   United-States    >50K

In [10]:
display(adult_data_df.head(3))

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [11]:
cursor.execute('SELECT avg(hours_per_week) FROM sqladb WHERE workclass=" Private"')
output = cursor.fetchall()
print(output)

[(40.267095523440254,)]

In [12]:
cursor.execute('SELECT education, COUNT(*) FROM sqladb GROUP BY education')
output = cursor.fetchall()
display(output)

[(' 10th', 933),
 (' 11th', 1175),
 (' 12th', 433),
 (' 1st-4th', 168),
 (' 5th-6th', 333),
 (' 7th-8th', 646),
 (' 9th', 514),
 (' Assoc-acdm', 1067),
 (' Assoc-voc', 1382),
 (' Bachelors', 5354),
 (' Doctorate', 413),
 (' HS-grad', 10501),
 (' Masters', 1723),
 (' Preschool', 51),
 (' Prof-school', 576),
 (' Some-college', 7291)]

In [13]:
cursor.execute('SELECT occupation, COUNT(*) FROM sqladb GROUP BY occupation')
output = cursor.fetchall()
display(output)

[(' ?', 1843),
 (' Adm-clerical', 3769),
 (' Armed-Forces', 9),
 (' Craft-repair', 4099),
 (' Exec-managerial', 4066),
 (' Farming-fishing', 994),
 (' Handlers-cleaners', 1370),
 (' Machine-op-inspct', 2002),
 (' Other-service', 3295),
 (' Priv-house-serv', 149),
 (' Prof-specialty', 4140),
 (' Protective-serv', 649),
 (' Sales', 3650),
 (' Tech-support', 928),
 (' Transport-moving', 1597)]

In [14]:
cursor.execute('SELECT relationship, COUNT(*) FROM sqladb GROUP BY relationship')
output = cursor.fetchall()
display(output)

[(' Husband', 13193),
 (' Not-in-family', 8304),
 (' Other-relative', 981),
 (' Own-child', 5068),
 (' Unmarried', 3446),
 (' Wife', 1568)]

In [15]:
cursor.execute('SELECT * FROM sqladb WHERE education=" Masters" AND workclass=" Private" AND marital_status=" Married-civ-spouse"')
output = cursor.fetchall()
print(output)

[(4, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (86, 33, ' Private', 202051, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'), (99, 76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (187, 31, ' Private', 99928, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 0, 50, ' United-States', ' <=50K'), (197, 35, ' Private', 138992, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Other-relative', ' White', ' Male', 7298, 0, 40, ' United-States', ' >50K'), (310, 34, ' Private', 142897, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 7298, 0, 35, ' Taiwan', ' >50K'), (360, 62, ' Private', 270092, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (404, 41, ' Private', 445382, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 65, ' United-States', ' >50K'), (434, 33, ' Private', 208405, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (467, 49, ' Private', 192776, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 45, ' United-States', ' >50K'), (605, 51, ' Private', 410114, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (696, 31, ' Private', 118710, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 1902, 40, ' United-States', ' >50K'), (776, 34, ' Private', 73585, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' ?', ' <=50K'), (894, 40, ' Private', 170108, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (915, 43, ' Private', 158926, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Asian-Pac-Islander', ' Female', 0, 0, 50, ' South', ' <=50K'), (926, 51, ' Private', 138022, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (950, 43, ' Private', 227065, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 43, ' United-States', ' >50K'), (1013, 38, ' Private', 173208, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 25, ' United-States', ' <=50K'), (1144, 33, ' Private', 354573, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 44, ' United-States', ' >50K'), (1171, 25, ' Private', 404616, ' Masters', 14, ' Married-civ-spouse', ' Farming-fishing', ' Not-in-family', ' White', ' Male', 0, 0, 99, ' United-States', ' >50K'), (1196, 59, ' Private', 151616, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' <=50K'), (1223, 38, ' Private', 22245, ' Masters', 14, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 72, ' ?', ' >50K'), (1292, 46, ' Private', 279661, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Black', ' Male', 0, 0, 35, ' United-States', ' <=50K'), (1377, 65, ' Private', 198766, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 20051, 0, 40, ' United-States', ' >50K'), (1592, 55, ' Private', 98361, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 50, ' ?', ' >50K'), (1611, 45, ' Private', 46406, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 36, ' England', ' >50K'), (1641, 48, ' Private', 126754, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 40, ' United-States', ' >50K'), (1698, 54, ' Private', 177927, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'), (1708, 43, ' Private', 201723, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1902, 40, ' United-States', ' >50K'), (1716, 41, ' Private', 233955, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 45, ' China', ' >50K'), (1727, 49, ' Private', 186078, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 0, 50, ' United-States', ' >50K'), (1786, 39, ' Private', 79331, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 15024, 0, 40, ' United-States', ' >50K'), (1835, 58, ' Private', 312131, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (1892, 34, ' Private', 192002, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'), (1920, 38, ' Private', 119741, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' >50K'), (1944, 37, ' Private', 329980, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 2415, 60, ' United-States', ' >50K'), (1948, 40, ' Private', 102606, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (1961, 50, ' Private', 147629, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 45, ' United-States', ' >50K'), (2017, 39, ' Private', 505119, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' Cuba', ' >50K'), (2084, 37, ' Private', 49115, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (2152, 44, ' Private', 146659, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 1887, 35, ' United-States', ' >50K'), (2216, 45, ' Private', 142287, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (2257, 29, ' Private', 241431, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 7298, 0, 40, ' United-States', ' >50K'), (2285, 41, ' Private', 116379, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 55, ' Taiwan', ' >50K'), (2338, 36, ' Private', 116358, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' Taiwan', ' >50K'), (2343, 44, ' Private', 198282, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 40, ' United-States', ' >50K'), (2828, 36, ' Private', 107302, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (2859, 47, ' Private', 102308, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (2914, 26, ' Private', 198163, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (2988, 44, ' Private', 178385, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 48, ' India', ' <=50K'), (3034, 61, ' Private', 208919, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (3076, 38, ' Private', 266645, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (3124, 55, ' Private', 153484, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 50, ' United-States', ' >50K'), (3142, 32, ' Private', 295589, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 1977, 40, ' United-States', ' >50K'), (3166, 38, ' Private', 242720, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 35, ' United-States', ' >50K'), (3426, 54, ' Private', 457237, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3465, 39, ' Private', 96452, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'), (3482, 41, ' Private', 113823, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' England', ' <=50K'), (3498, 26, ' Private', 139098, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 5013, 0, 40, ' United-States', ' <=50K'), (3539, 36, ' Private', 165799, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (3551, 56, ' Private', 192869, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 1977, 44, ' United-States', ' >50K'), (3626, 36, ' Private', 120760, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' China', ' <=50K'), (3671, 43, ' Private', 102025, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Other', ' Male', 0, 0, 50, ' United-States', ' <=50K'), (3723, 38, ' Private', 234901, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 60, ' United-States', ' >50K'), (3748, 56, ' Private', 318450, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 80, ' United-States', ' >50K'), (3828, 40, ' Private', 71738, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 46, ' United-States', ' >50K'), (3926, 53, ' Private', 201127, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' >50K'), (3965, 49, ' Private', 101825, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 1977, 40, ' United-States', ' >50K'), (4171, 46, ' Private', 324655, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 1902, 40, ' ?', ' >50K'), (4348, 53, ' Private', 114758, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 65, ' United-States', ' >50K'), (4365, 42, ' Private', 201785, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (4410, 43, ' Private', 304175, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (4464, 49, ' Private', 185041, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 40, ' United-States', ' >50K'), (4548, 53, ' Private', 424079, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 55, ' United-States', ' >50K'), (4570, 34, ' Private', 299635, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1902, 50, ' United-States', ' >50K'), (4746, 42, ' Private', 107762, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (4779, 49, ' Private', 65087, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 50, ' United-States', ' >50K'), (4787, 37, ' Private', 117381, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (4893, 46, ' Private', 55720, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'), (5043, 55, ' Private', 31905, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 40, ' United-States', ' >50K'), (5048, 32, ' Private', 473133, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (5111, 39, ' Private', 225544, ' Masters', 14, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 40, ' Poland', ' <=50K'), (5119, 46, ' Private', 265275, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'), (5157, 47, ' Private', 190139, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (5275, 44, ' Private', 116632, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (5457, 33, ' Private', 176992, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (5542, 44, ' Private', 296728, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (5579, 44, ' Private', 112517, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 20, ' United-States', ' >50K'), (5592, 29, ' Private', 168479, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (5633, 51, ' Private', 146574, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (5638, 37, ' Private', 126569, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (5672, 35, ' Private', 112271, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (5684, 53, ' Private', 106176, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 7298, 0, 60, ' United-States', ' >50K'), (5770, 46, ' Private', 137354, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' Philippines', ' >50K'), (5816, 35, ' Private', 241126, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (5821, 35, ' Private', 99357, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 15024, 0, 50, ' United-States', ' >50K'), (5835, 41, ' Private', 93793, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 38, ' United-States', ' >50K'), (5861, 66, ' Private', 216856, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'), (5881, 36, ' Private', 261382, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 15024, 0, 45, ' United-States', ' >50K'), (6001, 51, ' Private', 44000, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 99999, 0, 50, ' United-States', ' >50K'), (6110, 39, ' Private', 91711, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (6204, 40, ' Private', 146520, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (6232, 67, ' Private', 195161, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 20051, 0, 60, ' United-States', ' >50K'), (6298, 43, ' Private', 102180, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (6323, 39, ' Private', 126675, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (6386, 64, ' Private', 149044, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 2057, 60, ' China', ' <=50K'), (6428, 41, ' Private', 280167, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 70, ' United-States', ' >50K'), (6454, 55, ' Private', 163083, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (6467, 34, ' Private', 204470, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (6499, 39, ' Private', 194404, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 7688, 0, 40, ' United-States', ' >50K'), (6579, 33, ' Private', 111567, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1902, 45, ' Germany', ' >50K'), (6606, 38, ' Private', 314310, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (6607, 37, ' Private', 259785, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (6608, 45, ' Private', 127111, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'), (6699, 57, ' Private', 375868, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (6762, 44, ' Private', 104196, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'), (6832, 28, ' Private', 209205, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'), (7050, 30, ' Private', 110643, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 4386, 0, 40, ' United-States', ' >50K'), (7146, 41, ' Private', 174395, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (7352, 42, ' Private', 383493, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'), (7466, 38, ' Private', 241153, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' >50K'), (7484, 43, ' Private', 208277, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 0, 45, ' United-States', ' >50K'), (7554, 44, ' Private', 115323, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (7598, 43, ' Private', 188808, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'), (7620, 44, ' Private', 125461, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 35, ' United-States', ' >50K'), (7700, 57, ' Private', 245193, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (7823, 51, ' Private', 182314, ' Masters', 14, ' Married-civ-spouse', ' Tech-sup

In [16]:
# USE Pandas Print because it is cleaner
print(pd.read_sql_query('SELECT * FROM sqladb WHERE education=" Masters" AND workclass=" Private" AND marital_status=" Married-civ-spouse"', connection).head(10))

   index  age workclass  fnlwgt education  education_num       marital_status  \
0      4   37   Private  284582   Masters             14   Married-civ-spouse
1     86   33   Private  202051   Masters             14   Married-civ-spouse
2     99   76   Private  124191   Masters             14   Married-civ-spouse
3    187   31   Private   99928   Masters             14   Married-civ-spouse
4    197   35   Private  138992   Masters             14   Married-civ-spouse
5    310   34   Private  142897   Masters             14   Married-civ-spouse
6    360   62   Private  270092   Masters             14   Married-civ-spouse
7    404   41   Private  445382   Masters             14   Married-civ-spouse
8    434   33   Private  208405   Masters             14   Married-civ-spouse
9    467   49   Private  192776   Masters             14   Married-civ-spouse

         occupation     relationship                 race      sex  \
0   Exec-managerial             Wife                White   Female
1    Prof-specialty          Husband                White     Male
2   Exec-managerial          Husband                White     Male
3    Prof-specialty             Wife                White   Female
4    Prof-specialty   Other-relative                White     Male
5   Exec-managerial          Husband   Asian-Pac-Islander     Male
6    Prof-specialty          Husband                White     Male
7   Exec-managerial          Husband                White     Male
8    Prof-specialty          Husband                White     Male
9   Exec-managerial          Husband                White     Male

   capital_gain  capital_loss  hours_per_week  native_country  income
0             0             0              40   United-States   <=50K
1             0             0              50   United-States   <=50K
2             0             0              40   United-States    >50K
3             0             0              50   United-States   <=50K
4          7298             0              40   United-States    >50K
5          7298             0              35          Taiwan    >50K
6             0             0              40   United-States    >50K
7             0          1977              65   United-States    >50K
8             0             0              50   United-States    >50K
9             0          1977              45   United-States    >50K

In [18]:
cursor.execute('SELECT avg(age) AS average, max(age) AS maximum, min(age) AS minimum FROM sqladb GROUP BY occupation')
output = cursor.fetchall()
display(output)

[(40.882799782962564, 90, 17),
 (36.96391615813213, 90, 17),
 (30.22222222222222, 46, 23),
 (39.03147109050988, 90, 17),
 (42.16920806689621, 90, 17),
 (41.2112676056338, 90, 17),
 (32.16569343065694, 90, 17),
 (37.71528471528472, 90, 17),
 (34.94962063732929, 90, 17),
 (41.7248322147651, 81, 17),
 (40.51763285024155, 90, 17),
 (38.9537750385208, 90, 17),
 (37.353972602739724, 90, 17),
 (37.022629310344826, 73, 17),
 (40.19787100814026, 90, 17)]

In [19]:
cursor.execute('SELECT occupation, max(age) FROM sqladb GROUP BY occupation')
output = cursor.fetchall()
display(output)

[(' ?', 90),
 (' Adm-clerical', 90),
 (' Armed-Forces', 46),
 (' Craft-repair', 90),
 (' Exec-managerial', 90),
 (' Farming-fishing', 90),
 (' Handlers-cleaners', 90),
 (' Machine-op-inspct', 90),
 (' Other-service', 90),
 (' Priv-house-serv', 81),
 (' Prof-specialty', 90),
 (' Protective-serv', 90),
 (' Sales', 90),
 (' Tech-support', 73),
 (' Transport-moving', 90)]

In [20]:
cursor.execute('SELECT occupation, avg(age) FROM sqladb GROUP BY occupation')
output = cursor.fetchall()
display(output)

[(' ?', 40.882799782962564),
 (' Adm-clerical', 36.96391615813213),
 (' Armed-Forces', 30.22222222222222),
 (' Craft-repair', 39.03147109050988),
 (' Exec-managerial', 42.16920806689621),
 (' Farming-fishing', 41.2112676056338),
 (' Handlers-cleaners', 32.16569343065694),
 (' Machine-op-inspct', 37.71528471528472),
 (' Other-service', 34.94962063732929),
 (' Priv-house-serv', 41.7248322147651),
 (' Prof-specialty', 40.51763285024155),
 (' Protective-serv', 38.9537750385208),
 (' Sales', 37.353972602739724),
 (' Tech-support', 37.022629310344826),
 (' Transport-moving', 40.19787100814026)]

In [21]:
cursor.execute('SELECT native_country, min(age) FROM sqladb GROUP BY native_country')
output = cursor.fetchall()
display(output)

[(' ?', 17),
 (' Cambodia', 18),
 (' Canada', 17),
 (' China', 22),
 (' Columbia', 18),
 (' Cuba', 21),
 (' Dominican-Republic', 18),
 (' Ecuador', 21),
 (' El-Salvador', 17),
 (' England', 17),
 (' France', 20),
 (' Germany', 18),
 (' Greece', 22),
 (' Guatemala', 19),
 (' Haiti', 17),
 (' Holand-Netherlands', 32),
 (' Honduras', 18),
 (' Hong', 19),
 (' Hungary', 24),
 (' India', 17),
 (' Iran', 22),
 (' Ireland', 23),
 (' Italy', 19),
 (' Jamaica', 18),
 (' Japan', 19),
 (' Laos', 19),
 (' Mexico', 17),
 (' Nicaragua', 19),
 (' Outlying-US(Guam-USVI-etc)', 21),
 (' Peru', 17),
 (' Philippines', 17),
 (' Poland', 17),
 (' Portugal', 19),
 (' Puerto-Rico', 17),
 (' Scotland', 18),
 (' South', 19),
 (' Taiwan', 20),
 (' Thailand', 19),
 (' Trinadad&Tobago', 17),
 (' United-States', 17),
 (' Vietnam', 19),
 (' Yugoslavia', 20)]

In [22]:
cursor.execute('SELECT native_country, max(age) FROM sqladb GROUP BY native_country')
output = cursor.fetchall()
display(output)

[(' ?', 90),
 (' Cambodia', 65),
 (' Canada', 80),
 (' China', 75),
 (' Columbia', 75),
 (' Cuba', 82),
 (' Dominican-Republic', 78),
 (' Ecuador', 90),
 (' El-Salvador', 79),
 (' England', 90),
 (' France', 64),
 (' Germany', 74),
 (' Greece', 65),
 (' Guatemala', 66),
 (' Haiti', 63),
 (' Holand-Netherlands', 32),
 (' Honduras', 58),
 (' Hong', 60),
 (' Hungary', 81),
 (' India', 61),
 (' Iran', 63),
 (' Ireland', 68),
 (' Italy', 77),
 (' Jamaica', 66),
 (' Japan', 61),
 (' Laos', 56),
 (' Mexico', 81),
 (' Nicaragua', 67),
 (' Outlying-US(Guam-USVI-etc)', 63),
 (' Peru', 69),
 (' Philippines', 90),
 (' Poland', 85),
 (' Portugal', 78),
 (' Puerto-Rico', 90),
 (' Scotland', 62),
 (' South', 90),
 (' Taiwan', 61),
 (' Thailand', 55),
 (' Trinadad&Tobago', 61),
 (' United-States', 90),
 (' Vietnam', 73),
 (' Yugoslavia', 66)]

In [23]:
cursor.execute('SELECT native_country, avg(age) FROM sqladb GROUP BY native_country')
output = cursor.fetchall()
display(output)

[(' ?', 38.72555746140652),
 (' Cambodia', 37.78947368421053),
 (' Canada', 42.54545454545455),
 (' China', 42.53333333333333),
 (' Columbia', 39.71186440677966),
 (' Cuba', 45.76842105263158),
 (' Dominican-Republic', 37.72857142857143),
 (' Ecuador', 36.642857142857146),
 (' El-Salvador', 34.132075471698116),
 (' England', 41.15555555555556),
 (' France', 38.96551724137931),
 (' Germany', 39.25547445255474),
 (' Greece', 46.206896551724135),
 (' Guatemala', 32.421875),
 (' Haiti', 38.27272727272727),
 (' Holand-Netherlands', 32.0),
 (' Honduras', 33.84615384615385),
 (' Hong', 33.65),
 (' Hungary', 49.38461538461539),
 (' India', 38.09),
 (' Iran', 39.41860465116279),
 (' Ireland', 36.458333333333336),
 (' Italy', 46.42465753424658),
 (' Jamaica', 35.592592592592595),
 (' Japan', 38.24193548387097),
 (' Laos', 34.72222222222222),
 (' Mexico', 33.29082426127527),
 (' Nicaragua', 33.61764705882353),
 (' Outlying-US(Guam-USVI-etc)', 38.714285714285715),
 (' Peru', 35.25806451612903),
 (' Philippines', 39.44444444444444),
 (' Poland', 43.11666666666667),
 (' Portugal', 40.2972972972973),
 (' Puerto-Rico', 40.50877192982456),
 (' Scotland', 40.416666666666664),
 (' South', 38.75),
 (' Taiwan', 33.8235294117647),
 (' Thailand', 34.94444444444444),
 (' Trinadad&Tobago', 41.31578947368421),
 (' United-States', 38.65566183276766),
 (' Vietnam', 34.059701492537314),
 (' Yugoslavia', 38.8125)]

In [25]:
cursor.execute('ALTER TABLE sqladb ADD net_capital_gain varchar(200)')

In [26]:
cursor.execute('PRAGMA TABLE_INFO({})'.format("sqladb"))
cursor.fetchall()

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'age', 'BIGINT', 0, None, 0),
 (2, 'workclass', 'TEXT', 0, None, 0),
 (3, 'fnlwgt', 'BIGINT', 0, None, 0),
 (4, 'education', 'TEXT', 0, None, 0),
 (5, 'education_num', 'BIGINT', 0, None, 0),
 (6, 'marital_status', 'TEXT', 0, None, 0),
 (7, 'occupation', 'TEXT', 0, None, 0),
 (8, 'relationship', 'TEXT', 0, None, 0),
 (9, 'race', 'TEXT', 0, None, 0),
 (10, 'sex', 'TEXT', 0, None, 0),
 (11, 'capital_gain', 'BIGINT', 0, None, 0),
 (12, 'capital_loss', 'BIGINT', 0, None, 0),
 (13, 'hours_per_week', 'BIGINT', 0, None, 0),
 (14, 'native_country', 'TEXT', 0, None, 0),
 (15, 'income', 'TEXT', 0, None, 0),
 (16, 'net_capital_gain', 'varchar(200)', 0, None, 0)]

In [27]:
cursor.execute('UPDATE sqladb SET net_capital_gain=capital_gain-capital_loss')

In [28]:
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(10))

   index  age          workclass  fnlwgt      education  education_num  \
0      0   50   Self-emp-not-inc   83311      Bachelors             13
1      1   38            Private  215646        HS-grad              9
2      2   53            Private  234721           11th              7
3      3   28            Private  338409      Bachelors             13
4      4   37            Private  284582        Masters             14
5      5   49            Private  160187            9th              5
6      6   52   Self-emp-not-inc  209642        HS-grad              9
7      7   31            Private   45781        Masters             14
8      8   42            Private  159449      Bachelors             13
9      9   37            Private  280464   Some-college             10

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
5   Married-spouse-absent       Other-service   Not-in-family   Black
6      Married-civ-spouse     Exec-managerial         Husband   White
7           Never-married      Prof-specialty   Not-in-family   White
8      Married-civ-spouse     Exec-managerial         Husband   White
9      Married-civ-spouse     Exec-managerial         Husband   Black

       sex  capital_gain  capital_loss  hours_per_week  native_country  \
0     Male             0             0              13   United-States
1     Male             0             0              40   United-States
2     Male             0             0              40   United-States
3   Female             0             0              40            Cuba
4   Female             0             0              40   United-States
5   Female             0             0              16         Jamaica
6     Male             0             0              45   United-States
7   Female         14084             0              50   United-States
8     Male          5178             0              40   United-States
9     Male             0             0              80   United-States

   income net_capital_gain
0   <=50K                0
1   <=50K                0
2   <=50K                0
3   <=50K                0
4   <=50K                0
5   <=50K                0
6    >50K                0
7    >50K            14084
8    >50K             5178
9    >50K                0

In [31]:
cursor.execute('UPDATE sqladb SET net_capital_gain=capital_gain-capital_loss')
print(pd.read_sql_query("SELECT * FROM sqladb", connection).head(10))

   index  age          workclass  fnlwgt      education  education_num  \
0      0   50   Self-emp-not-inc   83311      Bachelors             13
1      1   38            Private  215646        HS-grad              9
2      2   53            Private  234721           11th              7
3      3   28            Private  338409      Bachelors             13
4      4   37            Private  284582        Masters             14
5      5   49            Private  160187            9th              5
6      6   52   Self-emp-not-inc  209642        HS-grad              9
7      7   31            Private   45781        Masters             14
8      8   42            Private  159449      Bachelors             13
9      9   37            Private  280464   Some-college             10

           marital_status          occupation    relationship    race  \
0      Married-civ-spouse     Exec-managerial         Husband   White
1                Divorced   Handlers-cleaners   Not-in-family   White
2      Married-civ-spouse   Handlers-cleaners         Husband   Black
3      Married-civ-spouse      Prof-specialty            Wife   Black
4      Married-civ-spouse     Exec-managerial            Wife   White
5   Married-spouse-absent       Other-service   Not-in-family   Black
6      Married-civ-spouse     Exec-managerial         Husband   White
7           Never-married      Prof-specialty   Not-in-family   White
8      Married-civ-spouse     Exec-managerial         Husband   White
9      Married-civ-spouse     Exec-managerial         Husband   Black

       sex  capital_gain  capital_loss  hours_per_week  native_country  \
0     Male             0             0              13   United-States
1     Male             0             0              40   United-States
2     Male             0             0              40   United-States
3   Female             0             0              40            Cuba
4   Female             0             0              40   United-States
5   Female             0             0              16         Jamaica
6     Male             0             0              45   United-States
7   Female         14084             0              50   United-States
8     Male          5178             0              40   United-States
9     Male             0             0              80   United-States

   income net_capital_gain
0   <=50K                0
1   <=50K                0
2   <=50K                0
3   <=50K                0
4   <=50K                0
5   <=50K                0
6    >50K                0
7    >50K            14084
8    >50K             5178
9    >50K                0